/*conocenos*/
.container-conocenos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    .img-conocenos {
        width: 25%;
        min-width: 275px;
        align-self: center;
    }
    .info {
        width: 100%;  
        min-width: 150px;
        h2 {
            font-size: 2rem;
            font-weight: 400;
        }
        .whoarewe {
            margin: 1.5em;
        }
    }

}

.card-we {
    background: rgb(216, 216, 216, 0.4);
    padding: 1em;
    margin:auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 2em;
    align-items: center;
    max-width: 330px;
    
    margin-top: 4em;
    
    .card-title {
        margin-top: 0.5em;     
        font-size: 1.6rem; 
    }

    .card-p {
        text-align: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 0.4em;
    }
    .nosotros {
        max-width: 150px;
        border-radius: 200px;
        border: 2px solid white;
    }
}


@media  (min-width: 950px) {
}



@media  (min-width: 950px) {
    .container-conocenos {
        flex-direction: row;
        flex-wrap: nowrap;
        .img-conocenos {
            align-self: baseline;
            margin-top: 1em;
        }
        .info {
            width: 45%;  
            min-width: 300px;
            h2 {
                padding-bottom:10px; 
                margin-left: 0.7em ;  
            }
        }
    }

    .we-wrapper {
        display: flex;
        margin-top: 2em;
        padding: 1em;
        flex-wrap: wrap;
        .card-we {
           border: 3px solid white;
        }
       
    }
}

/*conocenos*/