/*header*/
header {
  background: rgb(216, 216, 216);
}
header .navbar-brand {
  font-size: 1.8rem;
  font-weight: 300;
  transition: all 1s;
}
header .navbar-brand:hover {
  font-size: 3rem;
}
header .li {
  transition: all 1s;
}
header .li:hover {
  font-size: 2rem;
}
header .li a:visited {
  text-decoration: none;
  color: black;
}
header .btn {
  width: 5em;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  margin: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: ease-out 1s;
  margin-top: 0.4em;
}
header .btn:hover {
  color: white;
  box-shadow: inset -200px 0 0 0 #C0CEDD;
  font-size: 1.1rem;
}

/*header*/
/*main*/
.body-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
}
.body-grid .header-fixed-index {
  grid-area: header;
}
.body-grid .footer-index {
  grid-area: footer;
  border-top: 1px solid black;
}
.body-grid .main-index {
  grid-area: main;
  display: flex;
}
.body-grid .main-index .grid-container__index {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4em 2em;
}
.body-grid .main-index .grid-container__index .img-index {
  width: 100%;
  min-width: auto;
}
.body-grid .main-index .grid-container__index .img-index:nth-child(4) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.body-grid .main-index .grid-container__index .img-index:nth-child(5) {
  grid-column: 1/3;
  grid-row: 4/6;
}
@media (min-width: 500px) {
  .body-grid .main-index .grid-container__index {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .body-grid .main-index .grid-container__index .img-index:nth-child(4) {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .body-grid .main-index .grid-container__index .img-index:nth-child(5) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
@media (min-width: 950px) {
  .body-grid .main-index .grid-container__index {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 4em 2em;
  }
  .body-grid .main-index .grid-container__index .img-index {
    width: 100%;
    min-width: auto;
  }
  .body-grid .main-index .grid-container__index .img-index:nth-child(12) {
    display: none;
  }
}

/*main*/
/*conocenos*/
.container-conocenos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
}
.container-conocenos .img-conocenos {
  width: 25%;
  min-width: 275px;
  align-self: center;
}
.container-conocenos .info {
  width: 100%;
  min-width: 150px;
}
.container-conocenos .info h2 {
  font-size: 2rem;
  font-weight: 400;
}
.container-conocenos .info .whoarewe {
  margin: 1.5em;
}

@media (min-width: 950px) {
  .container-conocenos {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .container-conocenos .img-conocenos {
    align-self: baseline;
    margin-top: 1em;
  }
  .container-conocenos .info {
    width: 45%;
    min-width: 300px;
  }
  .container-conocenos .info h2 {
    padding-bottom: 10px;
    margin-left: 0.7em;
  }
}
/*conocenos*/
/*conocenos*/
.flex-grid-muebles {
  display: flex;
  justify-content: center;
}
.flex-grid-muebles .gallery-muebles {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  padding: 5em;
}
.flex-grid-muebles .gallery-muebles img {
  width: 250px;
  max-width: fit-content;
  cursor: pointer;
  padding: 0.15em;
}
@media (min-width: 500px) {
  .flex-grid-muebles .gallery-muebles {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 500px) and (min-width: 800px) {
  .flex-grid-muebles .gallery-muebles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 500px) and (min-width: 1100px) {
  .flex-grid-muebles .gallery-muebles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.main-maderas {
  padding: 2em 2em;
}
.main-maderas .container__maderas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-maderas .container__maderas .card {
  display: flex;
  justify-content: center;
  background: rgba(216, 216, 216, 0.4);
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  z-index: 1;
}
.main-maderas .container__maderas .card .card-img-top {
  max-width: 8em;
  align-self: center;
  border-radius: 200px;
  margin-bottom: 1em;
  transition: all 0.5s;
  z-index: 99;
}
.main-maderas .container__maderas .card .card-img-top:hover {
  transform: scale(1.1);
  border: 1.5px solid white;
}
.main-maderas .container__maderas .card .card-img-top .card-title {
  font-weight: 300;
  padding: 0.5em;
}
.main-maderas .container__maderas .card .card-img-top .card-text {
  width: 80%;
  text-align: center;
  align-self: center;
  padding: 1em 0;
  border-top: 1px solid white;
}

/*contacto*/
.main-contacto {
  padding: 3em;
}
.main-contacto .container-contacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.main-contacto .container-contacto form {
  background-color: rgba(216, 216, 216, 0.4);
  padding: 2em;
}
.main-contacto .container-contacto form label, .main-contacto .container-contacto form input, .main-contacto .container-contacto form textarea {
  display: block;
  padding: 0.5em;
  background-color: rgba(216, 216, 216, 0.4);
}
.main-contacto .container-contacto form input, .main-contacto .container-contacto form textarea {
  border: white 2px solid;
}
.main-contacto .container-contacto form .btn-contacto {
  background-color: rgba(216, 216, 216, 0.4);
  border: white 2px solid;
  padding: 1em;
  cursor: pointer;
  transition: ease-out 0.5s;
}
.main-contacto .container-contacto form .btn-contacto:hover {
  transform: scale(1.4, 1.4);
  background: #C0CEDD;
}

@media (max-width: 500px) {
  .main-contacto {
    padding: 0.5em;
    margin: auto;
  }
  .main-contacto form {
    padding: 0.5em;
    margin: auto;
  }
  .main-contacto form textarea {
    padding: 0.5em;
    margin: auto;
  }
  .main-contacto form input, .main-contacto .container-contacto form textarea {
    padding: 0.5em;
    margin: auto;
  }
  .main-contacto form label, .main-contacto .container-contacto form input, .main-contacto .container-contacto form textarea {
    padding: 0.5em;
    margin: auto;
  }
}
/*contacto*/
/*footer*/
footer {
  padding: 10px;
  bottom: auto;
  display: flex;
  justify-content: space-between;
}
footer .social-div {
  margin: 5px 35px;
  display: flex;
}
footer .social-div .socials {
  width: 1.3em;
  opacity: 0.5;
}
footer p {
  margin: 5px 35px;
}

/*footer*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hubballi", cursive, black;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
