* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hubballi', cursive, black;
    text-decoration: none;
}



body {
    background: white;
}

/*HEADER*/


.navbar-brand {
    font-weight: 400;
    font-size: 1.8rem;
    margin-left: 0.4em;
    transition: all 1s;   
}

.navbar-brand:hover {
    font-size: 4rem;
}


li {
    transition: all 1s;
}

li:hover {
    font-size: 3rem;
}


a {
    margin-left: 0.5em;
}

a:visited {
    text-decoration: none;
    color: black;
}

.btn {
    border-radius: 50px;
    cursor: pointer;
    transition: ease-out 1s;  
    
   
}

@media (min-width: 950px){
    .collapse {
        display: flex;
        justify-content: space-between;
    }
}

.navbar-toggler {
    border: none;
}



/*HEADER*/



/*INDEX*/


.body-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"
    ;
}

.header-index {
    grid-area: header;
}

.main-index {
    grid-area: main;
}

.footer-index {
    grid-area: footer;
    border-top: 1px solid black;
}

.main-index {
   display: flex;
}

.grid-container__index {
    display: grid;
    grid-template-columns: 1fr ;
    padding: 4em 2em;
}
  
.img-index:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
} 

.img-index:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 4 / 6 ;
} 

.img-index {
    width: 100%;
    min-width: auto;
}



@media (min-width: 500px) {
 
   .grid-container__index {
        grid-template-columns: 1fr 1fr 1fr;
    }

    

   .img-index:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
       
    } 

    .img-index:nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 1 / 2 ;
       
    } 

}

@media (min-width: 800px) {
    .body-grid {

    
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"
    ;
    }
}

/*INDEX*/

/*CONOCENOS*/

.body-conocenos {
    display: grid;
    grid-template-areas: 
    "head"
    "img"
    "img"
    "info"
    "foot"
    ;
}

header {
    grid-area: head;
}

.img-conocenos {
    grid-area: img;
}

.info {
    grid-area: info;
    width: 100%;  
  
}

.footer-conocenos {
    grid-area: foot;
    border-top: 1px solid black;
}



.img-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}


.img-conocenos {
    width: 25%;
    min-width: 275px;
}

.info h2 {
    margin-left: 0.5em;
    font-size: 2rem;
    font-weight: 400;
}

.whoarewe {
    margin: 1.5em;
}



@media  (min-width: 655px) {

    .body-conocenos {
        grid-template-areas: 
        "head head"
        "img info"
        "img info"
        "foot foot"
        ;
    }
    
    
    .info {
        margin-top: 2.5em;
        width: 70%;  
        min-width: 300px;
        
    }
    
    .info h2 {
        padding-bottom:10px; 
        margin-left: 0.7em ;
        
    }
    
}

@media  (min-width: 935px) {

    .body-conocenos {
        grid-template-areas: 
        "head head head"
        "img img info "
        "foot foot foot"
    }
    
    
    .info {
        margin-top: 2.5em;
        width: 80%;
    }
    
    .info h2 {
        padding-bottom:10px; 
        
    }
    
    .img-parent {
        align-items: baseline;
        padding: 2em;

    }
    
    .img-conocenos {
        display: flex;
        width: 25%;    
    }

}


/*CONOCENOS*/

/*PRODUCTOS*/






.col img {
   
    width: 100%;
    padding-top: 0.5em;
    cursor:pointer;

    
}


*/
/*PRODUCTOS*/

/*MADERAS*/

.main-maderas {
    padding: 2em 2em; 
    
}


.container__maderas {
 display: flex;
 justify-content: center; 
 flex-wrap: wrap; 
}

.card {
    display: flex;
    justify-content:center;
    background: rgb(216, 216, 216, 0.4);
    padding: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    z-index: 1;
}

.card-img-top {
    max-width: 8em;
    align-self: center;
    border-radius: 200px;
    margin-bottom: 1em;
    transition: all 0.5s;
    z-index: 99;
    
}

.card-img-top:hover  {
    transform: scale(1.1);
    border: 1.5px solid #fff;
}

.card-title {
    font-weight: 500;
    padding: 0.5em;
}

.card-text {
    width: 80%;
    text-align: center;
    align-self: center;
    padding: 1em 0;
    border-top: 1px solid white;

}


*/
/*MADERAS*/


/*CONTACTO*/

.main-contacto {
   padding: 3em ;
}

.container-contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: rgb(216, 216, 216, 0.4);
    padding: 2em;
}

label, input, textarea {
    display: block;
    margin-bottom: 0.5em;
    background-color:rgb(216, 216, 216, 0.4);
    padding: 0.5;
}

input, textarea {
    border: white 2px solid;
}

.btn-contacto {
    background-color: rgb(216, 216, 216, 0.4);
    border:white 2px solid;
    padding: 1em;
    cursor: pointer;
    transition: ease-out 0.5s;
    
}

.btn-contacto:hover {
   transform:scale(1.4,1.4) ;
   background:#C0CEDD ;

}

@media  (max-width: 500px) {
  
    .main-contacto {
        padding: 0.5em;
    }

    form {
        padding: 0.5em;
    }

    label, input, textarea {
        padding: 0.5em
    }
}



/*CONTACTO*/


/*FOOTER*/

footer {
    padding: 10px;
    bottom: auto;
    display: flex;
    justify-content: space-between;
}

.socials {
    width: 1.3em;
    opacity: 0.5;
}

p {
    margin: 5px 35px;
}

.social-div {
    margin: 5px 35px;
    display: flex;
    
}

/*FOOTER*/

